/*mobile first*/

* {
    box-sizing: border-box;
}


body {
    margin: 0;
    background-color: white;
    font-family: 'Rubik';

}

footer {
    padding: 10px 0;
    text-align: center;
}

footer a {
    font-family: 'Rubik';
    color: black;
    font-size: 1rem;
}

img {
    width: 100%;
}


@font-face {


    font-family: 'Rubik';

    src: url('fonts/Rubik/rubik-regular-webfont.woff2') format('woff2'),
        url('fonts/Rubik/rubik-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


p {
    font-family: 'IBM Plex Serif';
    font-weight: normal;
    font-size: 1rem;
    font-weight: normal;
    color: #2E2920;
    line-height: 1.7;
}


h1 {
    font-family: 'Rubik';
    text-align: center;
    padding-top: 40px;
    font-size: 2.2rem;
    font-weight: bold;
    color: #2E2920;
    text-transform: uppercase;
    margin-top: 0px;
}

h2 {
    font-family: 'Rubik';
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color: #654597;

}

h3 {
    font-family: 'Rubik';
    text-transform: uppercase;
    padding-top: 20px;

}

a {
    text-decoration: none;
    font-family: 'IBM Plex Serif';
    color: #654597;

}

header {
    display: flex;
    position: fixed;
    background: linear-gradient(#654597, #65459787);
    width: 100%;
    z-index: 1;

}

section {
    padding: 0 20px;
}

.burger {
    width: 100%;
    text-align: right;
    height: 70px;
    line-height: 70px;
}

.menu {
    margin: 0 30px 0 0;
}


.menu {
    text-align: center;
    width: 100%;
    display: none;
}

.menu a {
    text-decoration: none;
    color: black;
    margin 0 10px;
    line-height: 70px;
    text-transform: uppercase;
    font-family: 'Rubik';
    clear: right;
    padding-right: 10px;
    position: relative;

}

/*display döljer min burgericon från start, resten är style*/
label {
    margin: 0 40px 0 0;
    font-size: 42px;
    line-height: 70px;
    width: 26px;
    float: right;
}

/*visar inte den lilla "checkboxen"*/
#toggle {
    display: none;
}

#toggle:checked + .menu {
    display: inline-grid;
    /*background-color: white;*/
    background-color: #65459787;
    font-size: 22.6px;
    font-weight: bold;

}


/***************************SPLASH******************************/
#splash {
    width: 100vw;
    height: 178vw;
    max-width: none;
    background-image: url(assets/splash_done.png);
    background-size: cover;
    background-position: 62% 0%;
}


.portfolio,
.emma {
    font-weight: bold;

}

.hide {
    display: none;
}

/***************************OM******************************/
#om {

    background-color: #DDCDF2;
}

#om h1 {
    text-align: center;
}

#om h3 {
    padding-top: 0;
}

#om .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 60px;

}

#om .col {
    /*child flex*/
    flex-grow: 1;
    flex-basis: 400px;

}

/******************* PORTFOLIO*****************/
/****grundläggande HTML TEMA 1*****/

#grund_html {
    background-color: #EDEAED;
}

#grund_html .sectionwrapper {
    padding-bottom: 50px;

}

#grund_html .top {
    margin-left: auto;
    margin-right: auto;
}

#grund_html .txtbox {
    margin-left: auto;
    margin-right: auto;
}

#grund_html h1 {

    padding-top: 50px;
}


/*****Grundläggande ANIMATION, TEMA 2***/

#grund_animation {
    background-color: #C5C3C6;
}

#grund_animation .sectionwrapper {
    padding-bottom: 50px;

}


.img_bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;

}

.photo_1 {
    width: 70%;
    height: auto;
    margin: auto;

}

.image {
    flex-basis: 400px;
    flex-grow: 1;
    padding-left: 60px;
    padding-right: 60px;
}


#grund_animation h1 {
    padding-top: 50px;
}

.document_links {
    padding-left: 60px;
    padding-top: 20px;
}

#grund_animation .txtbox {
    margin-left: auto;
    margin-right: auto;
}

/*****Grundläggande video****/

#grund_video {
    background-color: #EDEAED;
}


#grund_video .txtbox {
    margin-left: auto;
    margin-right: auto;
}



/*allt större än 700 ska bete sig så här*/
@media (min-width: 700px) {
    label {
        display: none;
        /*gör att mus visar att den är klickbar*/
    }

    .menu {
        text-align: center;
        width: 100%;
        z-index: 1;
        position: unset;
        top: 16vw;
        display: inline;
        font-size: 1.5rem;
        font-weight: bold;
    }


    a:hover {
        color: #654597;
    }


    #splash {
        width: 100vw;
        height: 100vh;
        max-width: none;
        background-image: url(assets/glitter_splash.png);
        background-size: cover;

    }


    #om {
        padding: 0 30px;
    }

    .om-description {
        padding-right: 10px;
    }


    /* jag talar till alla sectionwrappers förutom den som jag också har gett en extra id till*/
    .sectionwrapper:not(#om-section) {
        padding: 20px 130px;
    }

    #om h1 {
        text-align: left;

    }

    header {
        background: white;
    }

    .first {
        padding-left: 218px;
    }

    .photo_1 {
        width: 55%;
        padding-top: 20px;
    }


    /********SPLASH FOR DESKTOP*******/

    /*JAG HAR FÅTT HJÄLP AV TUTORS ATT GÖRA DENNA ANIMATION*/

    .horizontal_line {
        height: 10px;
        width: 50%;
        background: black;
        position: absolute;
        right: 0;
        top: 30%;
        display: none;
    }

    .horizontal_line_2 {
        height: 10px;
        width: 100%;
        background: black;
        position: absolute;
        right: 0;
        bottom: 30%;
        display: none;
    }

    .vertical_line {
        height: 100%;
        width: 20px;
        background: black;
        position: absolute;
        right: 575px;
        bottom: 0;
        display: none;
    }

    .portfolio {
        position: absolute;
        bottom: 33%;
        right: 445px;
        font-size: 140px;
        display: none;
    }

    .emma {
        position: absolute;
        bottom: 20%;
        right: 10%;
        font-size: 50px;
        display: none;
    }


}
